<mat-toolbar color="primary">
    <span>AppReservas</span>

    <span class="example-spacer"></span>
    <button mat-button color="white" routerLink="/dashboard">Dashboard </button>
    <button mat-button color="white" routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button color="white" routerLink="/dashboard/habitaciones">Habitaciones</button>
    <button mat-button color="white" routerLink="/dashboard/reservas">Reservas</button>
    <button mat-button color="white" routerLink="/dashboard/servicios">Servicios</button>
    <button mat-button color="white" routerLink="/dashboard/reportes">Reportes</button>
    <button mat-button color="white" routerLink="/dashboard/facturacion">Facturacion</button>
    <button mat-button color="white" routerLink="/dashboard/reportes">Reportes</button>
    <button mat-button color="white" routerLink="/dashboard/inicio">Inicio</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>

  </mat-toolbar>
